/*SOBRE MI*/
.principal h1 {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  padding: 15px; }

.principal p {
  font-family: "Merriweather", serif;
  font-size: 20px; }

.sobreMi {
  width: 90%; }

.sobreMi-Titulo {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: bold; }

.sobreMi-Explicacion {
  font-family: 'Merriweather', serif;
  font-size: 20px; }

.segCard img {
  width: 150px; }

.featuredWork img {
  width: 300px; }

.featuredWork .text {
  text-align: center; }

@media screen and (min-width: 720px) {
  .sobreMi {
    width: 70%; }
  .segCard img {
    width: 200px; }
  .featuredWork img {
    width: 50%; } }

/* featured work */
.featuredWork {
  font-family: "Lato", sans-serif; }
  .featuredWork h2 {
    text-align: center;
    font-size: 25px;
    padding: 20px; }
  .featuredWork h5 {
    font-family: "Lato", sans-serif;
    font-size: 25px; }
  .featuredWork p {
    font-family: "Merriweather", serif;
    font-size: 20px; }
  .featuredWork img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%; }

/* About*/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; }
  .about h1 {
    font-family: "Lato", sans-serif;
    font-size: 35px;
    padding: 15px;
    font-size: 23px;
    padding: 15px; }
  .about p {
    font-family: "Merriweather", serif;
    font-size: 19px;
    margin: 10 0 0 0; }
    .about p img {
      width: auto;
      height: 120px;
      float: left;
      margin: 10px; }

.skills {
  background-color: #9d4edd49;
  box-sizing: content-box;
  width: 310px;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .skills h4 {
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    margin: 5px; }
  .skills .logoSkill {
    display: flex;
    align-items: center; }
    .skills .logoSkill img {
      width: auto;
      height: 55px;
      margin: 2px; }
    .skills .logoSkill p {
      font-family: "Merriweather", serif;
      font-size: 1em;
      font-weight: bold; }
  .skills .logoSkillDesign {
    display: flex;
    align-items: center; }
    .skills .logoSkillDesign img {
      width: auto;
      height: 40px;
      margin: 10px; }
    .skills .logoSkillDesign p {
      font-family: "Merriweather", serif;
      font-size: 1em;
      font-weight: bold;
      justify-content: start; }

@media screen and (min-width: 720px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; }
    .about h1 {
      font-family: "Lato", sans-serif;
      font-size: 35px;
      padding: 15px; }
    .about p {
      font-family: "Merriweather", serif;
      font-size: 20px;
      margin: 10 0 0 0;
      width: 700px; }
      .about p .prueba4 {
        width: 700px;
        position: relative; }
      .about p img {
        width: 130px;
        height: auto;
        float: left; }
  .skills {
    background-color: #9d4edd49;
    box-sizing: content-box;
    padding: 15px;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 200px;
    right: 100px;
    left: 1145px; }
    .skills h4 {
      font-family: "Lato", sans-serif;
      font-size: 1.2em;
      margin: 5px; }
    .skills .logoSkill {
      display: flex;
      align-items: center; }
      .skills .logoSkill img {
        width: auto;
        height: 45px; }
      .skills .logoSkill p {
        font-family: "Merriweather", serif;
        font-size: 0.8em;
        font-weight: bold; }
    .skills .logoSkillDesign {
      display: flex;
      align-items: center; }
      .skills .logoSkillDesign img {
        width: auto;
        height: 40px;
        margin: 10px; }
      .skills .logoSkillDesign p {
        font-family: "Merriweather", serif;
        font-size: 0.8em;
        font-weight: bold;
        justify-content: start; } }

/* Get in touch and text*/
h1 {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  padding: 15px; }

p {
  font-family: "Merriweather", serif;
  font-size: 25px; }

/*form*/
.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 30px;
  margin: 30px; }
  .flex-container legend {
    width: 94px;
    height: 30px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 20px; }
  .flex-container .name {
    font-family: "Lato", sans-serif;
    font-size: 20px; }
    .flex-container .name input {
      width: 100%;
      font-size: 20px;
      margin: 0; }
  .flex-container .email {
    font-family: "Lato", sans-serif;
    font-size: 20px; }
    .flex-container .email input {
      width: 100%;
      font-size: 20px;
      margin: 0; }
  .flex-container .project {
    width: 132px;
    height: 30px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 20px; }
  .flex-container .textArea {
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin: 0; }
  .flex-container .submit input {
    font-family: "Lato", sans-serif;
    font-size: 25px;
    padding: 17.5px 25px;
    background-color: #9d4edd49;
    width: 120px; }
  .flex-container .boton1 {
    font-family: "Lato", sans-serif;
    border-bottom-color: #9D4EDD;
    margin: auto;
    color: #9D4EDD; }

@media screen and (min-width: 720px) {
  .project {
    width: 132px;
    height: 30px; }
  .boton1 {
    font-family: "Lato", sans-serif;
    border-bottom-color: #9D4EDD;
    margin: auto;
    color: #9D4EDD; } }

/* Portfolio*/
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center; }
  .portfolio h2 {
    font-family: "Lato", sans-serif;
    font-size: 35px;
    padding: 15px; }
  .portfolio p {
    font-family: "Merriweather", serif;
    font-size: 25px;
    margin: 10 0 0 0; }

@media screen and (min-width: 414px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; }
    .portfolio h2 {
      font-family: "Lato", sans-serif;
      font-size: 35px;
      padding: 15px; }
    .portfolio p {
      font-family: "Merriweather", serif;
      font-size: 15px;
      margin: 10 0 0 0;
      width: 100%; } }

@media screen and (min-width: 720px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; }
    .portfolio h2 {
      font-family: "Lato", sans-serif;
      font-size: 35px;
      padding: 15px; }
    .portfolio p {
      font-family: "Merriweather", serif;
      font-size: 25px;
      margin: 10 0 0 0;
      width: 670px; } }

.trabajos h5 {
  font-family: "Lato", sans-serif;
  font-size: 25px; }

.trabajos p {
  font-family: "Merriweather", serif;
  font-size: 20px; }

.boton1 {
  font-family: "Lato", sans-serif;
  border-bottom-color: #9D4EDD;
  margin: auto;
  color: #9D4EDD; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  padding: 0px, 0px;
  background-color: white; }

.navegador {
  font-family: "Lato", sans-serif;
  background-color: white;
  text-transform: uppercase;
  align-items: center; }
  .navegador .miNombre {
    font-family: "Lato", sans-serif;
    justify-content: center;
    color: #9D4EDD;
    font-weight: bold;
    font-size: 20px;
    padding: 10px; }

/* navegacion menu */
nav {
  position: sticky;
  width: 100%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5); }
  nav .titulo {
    font-family: "Lato", sans-serif;
    color: #9D4EDD;
    font-weight: bold; }
  nav li .color {
    color: #9D4EDD; }
  nav li .color:hover {
    transform: scale(1, 1);
    background-color: #9d4edd49;
    color: white; }
  nav li .getInTouch {
    color: #9D4EDD;
    background-color: #9D4EDD; }

footer {
  margin-top: 10px; }
