/* About*/

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    h1 {
        @include titulos;
        font-size: 23px;
        padding: 15px;
    }
    p {
        font-family: $another-font;
        font-size: 19px;
        margin: 10 0 0 0;
        img {
            width: auto;
            height: 120px;
            float: left;
            margin: 10px;
        }
    }
}

.skills {
    background-color: #9d4edd49;
    box-sizing: content-box;
    width: 310px;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    h4 {
        font-family: $title-font;
        font-size: 1.2em;
        margin: 5px;
    }
    .logoSkill {
        display: flex;
        align-items: center;
        img {
            width: auto;
            height: 55px;
            margin: 2px;
        }
        p {
            font-family: $another-font;
            font-size: 1em;
            font-weight: bold;
        }
    }
    .logoSkillDesign {
        display: flex;
        align-items: center;
        img {
            width: auto;
            height: 40px;
            margin: 10px;
        }
        p {
            font-family: $another-font;
            font-size: 1em;
            font-weight: bold;
            justify-content: start;
        }
    }
}

@media screen and (min-width:720px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        h1 {
            @include titulos;
        }
        p {
            font-family: $another-font;
            font-size: 20px;
            margin: 10 0 0 0;
            width: 700px;
            .prueba4 {
                width: 700px;
                position: relative;
            }
            img {
                width: 130px;
                height: auto;
                float: left;
            }
        }
    }
    .skills {
        background-color: #9d4edd49;
        box-sizing: content-box;
        padding: 15px;
        width: 200px;
        text-align: center;
        position: absolute;
        top: 200px;
        right: 100px;
        left: 1145px;
        h4 {
            font-family: $title-font;
            font-size: 1.2em;
            margin: 5px;
        }
        .logoSkill {
            display: flex;
            align-items: center;
            img {
                width: auto;
                height: 45px;
            }
            p {
                font-family: $another-font;
                font-size: 0.8em;
                font-weight: bold;
            }
        }
        .logoSkillDesign {
            display: flex;
            align-items: center;
            img {
                width: auto;
                height: 40px;
                margin: 10px;
            }
            p {
                font-family: $another-font;
                font-size: 0.8em;
                font-weight: bold;
                justify-content: start;
            }
        }
    }
}