@import "variables";
@import "inicio";
@import "about";
@import "contacto";
@import "portfolio";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px, 0px;
    background-color: white;
}

.navegador {
    font-family: $title-font;
    background-color: white;
    text-transform: uppercase;
    align-items: center;
    .miNombre {
        font-family: $title-font;
        justify-content: center;
        color: $cool-purple;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }
}


/* navegacion menu */

nav {
    position: sticky;
    width: 100%;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
    .titulo {
        font-family: $title-font;
        color: $cool-purple;
        font-weight: bold;
    }
    li {
        .color {
            color: $cool-purple
        }
        .color:hover {
            transform: scale(1, 1);
            background-color: #9d4edd49;
            color: white;
        }
        .getInTouch {
            color: $cool-purple;
            background-color: $cool-purple;
        }
    }
}

footer {
    margin-top: 10px;
}