@import "variables";
@import "inicio";
@import "about";
@import "contacto";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px, 0px;
    background-color: white;
}

.navegador {
    font-family: $title-font;
    background-color: white;
    text-transform: uppercase;
    align-items: center;
    .miNombre {
        font-family: $title-font;
        justify-content: center;
        color: $cool-purple;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }
}


/* navegacion menu */

nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 1em;
    z-index: 10;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
    ul {
        font-family: $title-font;
        color: $cool-purple;
        display: flex;
        justify-content: right;
        align-items: center;
        list-style: none;
        li {
            font-size: 15px;
            padding: 10px;
            color: $cool-purple;
            font-weight: bold;
            a {
                color: $cool-purple;
                display: block;
                padding: 7.2px 18px;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 20px;
                transition: height 2s;
            }
            a:hover {
                transform: scale(1, 1);
                background-color: #9d4edd49;
                color: white;
            }
            .getInTouch {
                font-family: $title-font;
                color: white;
                font-size: 20px;
                font-weight: bold;
                padding: 7.2px 18px;
                background-color: $cool-purple;
            }
        }
    }
}


/* Portfolio*/

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    h2 {
        @include titulos;
        padding: 15px;
    }
    p {
        font-family: $another-font;
        font-size: 25px;
        margin: 10 0 0 0;
        width: 670px;
    }
}

@media screen and (min-width:480px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        h2 {
            @include titulos;
        }
        p {
            font-family: $another-font;
            font-size: 15px;
            margin: 10 0 0 0;
            width: 670px;
        }
    }
}

@media screen and (min-width:720px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        h2 {
            @include titulos;
        }
        p {
            font-family: $another-font;
            font-size: 25px;
            margin: 10 0 0 0;
            width: 670px;
        }
    }
}


/*FOOTER*/

$redes: ( twitter: #51aff8, facebook: #2956a3, linkedin: #0076b8, youtube: #ce1312);